#content {
    max-width: 1600px;
    margin: 0 auto;
}

#background {
    height: 725px;
    background-color: #0099CC;
}

#home-grid {
    text-align: center;
    color: #0099CC;
    text-decoration: none;
}

body {
    background-color: #4caf50; 
    font-family: Arial, sans-serif;
}
header {
    background-color:rgba(71, 39, 152, 0.7);
}
nav a {
    text-align: center;
    color: #0099CC;
    text-decoration: none;
}

nav a:hover {
    background-color: rgba(46, 136, 159, 0.244);
    color: #ff5722;
}

.home-title {
    color: #4caf50;
}

h4 {
    color: #ff5722;
}

.book, .join {
    background-color: #0099cc;
    color: #709308;
    text-align: center;
}

.book:hover, .join:hover {
    background-color: #6b91db;
    color: #ff5722;
}

.msg {
    background-color: #6b91db;
    color: #ffeb3b;
}

.msg h2 {
    color: #ffeb3b;
}

.msg p {
    color: #ffeb3b;
}

footer {
    background-color: #4caf50; 
    color: #ffeb3b;
}

footer a {
    color: #ffeb3b;
    text-align: center;
}

footer a:hover {
    color: #ff5722;
}
main {
    text-align: center;
}

footer p {
    font-size: 1.2em;
    text-decoration: underline;
}  

a:hover {
    text-decoration: underline;
} 

.icon {
    width: 80px;
}
